.table {
  table-layout: fixed;
  width: 100%;

  &-head {
    background-color: #009476;
    color: white;
  }

  th,
  td {
    word-break: break-word;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 33.33%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 41.66%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 16.66%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 8.33%;
  }

  &-body-dropdown {
    cursor: pointer;
  }
}
